*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 3em;
    margin: 1.5em;
}
@font-face {
    font-family: "fears";
    src: local("fears"),
      url("fears.ttf") format("truetype"); 
}
/*-----------différents modes----------------*/
#dark_mode{   
 /* border-radius: 10px;
    padding: 0.5em 1em;*/
    position: fixed;
    right: 1.5em;
    top: 1.5em;
}
#dark_mode img{
    width: 50px;
}
#funfun{
    /*border-radius: 10px;
    padding: 0.5em 1em;*/
    position: fixed;
    right: 1.5em;
    top: 4.5em;
}
#funfun img{
    width: 50px;
}
body.dark{
    background-color: #060606;
    color: lightgrey;
}
.dark h1,        /* body reçoit la classe dark, alors les titres changent*/
.dark h2, 
.dark h3{
    font-family: 'fears';
    color:red;
}
.funfun p{      /* body reçoit la classe funfun, alors les éléments ci-dessous changent*/
    color:aqua;
    border-radius: 10px;
    border: 2px dotted pink;
}
.funfun li{
    color: rgb(238, 144, 221);
}
   
/*-------------------CSS classique----------------*/
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.empty{
    height: 1.5em;
}

#victime{
    width: 500px;
    margin: 0 auto;
    display: block;
}
.underline{
    text-decoration: underline;
}
.containeur{
    display: grid;
    grid-area: 1/1/5/3;
}

.txt_details{
    font-style: italic;
    font-size: smaller;
}


footer{
    text-align: center;
}